In [1]:
import numpy as np
import pandas as pd 

# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))


import seaborn as sns

import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "."
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images")
CLEAREDDATA_PATH = os.path.join(PROJECT_ROOT_DIR, "cleareddata")
os.makedirs(IMAGES_PATH, exist_ok=True)
os.makedirs(CLEAREDDATA_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas()

./data/nyc_benchmarking_disclosure_2017_consumption_data.xlsx
./data/scotch_review.csv

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:45: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

/opt/conda/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
data = pd.read_excel(PROJECT_ROOT_DIR+'/data/nyc_benchmarking_disclosure_2017_consumption_data.xlsx','Information and Metrics')

In [3]:
data = data.replace({'Not Available': np.nan})

In [5]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
    
missing_values_table(data)

Your selected dataframe has 60 columns.
There are 43 columns that have missing values.

,Missing Values,% of Total Values
Propane Use (kBtu),34354,100.0
District Hot Water Use (kBtu),34347,100.0
District Chilled Water Use (kBtu),34325,99.9
Fuel Oil #1 Use (kBtu),34319,99.9
Diesel #2 Use (kBtu),34285,99.8
Address 2 (self-reported),33928,98.8
Fuel Oil #5 & 6 Use (kBtu),33871,98.6
District Steam Use (kBtu),32787,95.4
Parent Property Name,32632,95.0
Parent Property Id,32632,95.0
Fuel Oil #4 Use (kBtu),31977,93.1
Annual Maximum Demand (kW),31972,93.1
Annual Maximum Demand (MM/YYYY),31972,93.1
3rd Largest Property Use Type,31905,92.9
3rd Largest Property Use Type - Gross Floor Area (ft²),31905,92.9
Fuel Oil #2 Use (kBtu),28691,83.5
2nd Largest Property Use - Gross Floor Area (ft²),27129,79.0
2nd Largest Property Use Type,27129,79.0
Metered Areas (Water),19809,57.7
Water Use Intensity (All Water Sources) (gal/ft²),16084,46.8
Water Use (All Water Sources) (kgal),16075,46.8
ENERGY STAR Score,8901,25.9
Weather Normalized Site Natural Gas Intensity (therms/ft²),6313,18.4
Weather Normalized Site Natural Gas Use (therms),6308,18.4
Weather Normalized Site EUI (kBtu/ft²),5795,16.9
Weather Normalized Source EUI (kBtu/ft²),5795,16.9
Natural Gas Use (kBtu),5536,16.1
Weather Normalized Site Electricity Intensity (kWh/ft²),3354,9.8
Weather Normalized Site Electricity (kWh),3342,9.7
Electricity Use - Grid Purchase (kBtu),2779,8.1
Electricity Use - Grid Purchase (kWh),2779,8.1
Metered Areas (Energy),2645,7.7
Source EUI (kBtu/ft²),2467,7.2
Site EUI (kBtu/ft²),2467,7.2
Total GHG Emissions (Metric Tons CO2e),1398,4.1
Indirect GHG Emissions (Metric Tons CO2e),1267,3.7
Direct GHG Emissions (Metric Tons CO2e),1239,3.6
NYC Building Identification Number (BIN),1232,3.6
BBL - 10 digits,730,2.1
"NYC Borough, Block and Lot (BBL) self-reported",729,2.1
Largest Property Use Type - Gross Floor Area (ft²),32,0.1
Largest Property Use Type,32,0.1
List of All Property Use Types at Property,13,0.0

In [18]:
numeric_subset = data.select_dtypes('number')

In [23]:
from sklearn.base import BaseEstimator, TransformerMixin

class MissVals_Deleter(BaseEstimator, TransformerMixin):
    def __init__(self, missing_perc = 50): # no *args or **kargs
        self.missing_perc = missing_perc
    def fit(self, X, y=None):
        return self  # nothing else to do
    def transform(self, X):
        missing_df=missing_values_table(X)
        missing_columns = list(missing_df[missing_df['% of Total Values'] > self.missing_perc].index)
        print('By the remove percentage criterion %d, we may remove %d columns.' % (self.missing_perc, len(missing_columns)))
        X = X.drop(columns = list(missing_columns))
        return X

In [24]:
from sklearn.pipeline import Pipeline

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ('deleter', MissVals_Deleter()),
        ('imputer', SimpleImputer(strategy="median")),
        ('std_scaler', StandardScaler()),
    ])

data_num_tr = num_pipeline.fit_transform(numeric_subset)

Your selected dataframe has 37 columns.
There are 31 columns that have missing values.
By the remove percentage criterion 50, we may remove 12 columns.

In [27]:
data_num_tr.shape

(34355, 25)